.content {
	height: 500px;
}
.row{
	background-color: #282c30;
}
.each-row p{
	margin-top: 30px;
	color:#9fa4af;
}
.each-row h3 {
	color: #fff
}



.each-row ul {
  padding: 15px;
  list-style: none;
}

.copyright {
  padding: 15px 0;
  font-size: 10px;
  text-align: center;
  color: white;
   
}
