
.row{
	background-color: #282c30;
	margin-top: 300px;
}
.each-row p{
	margin-top: 30px;
	color:#9fa4af;
}
.each-row h3 {
	color: #fff
}



.each-row ul {
  padding: 15px;
  list-style: none;
}
.home-carousel .carousel-captions { 
   position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50% -50%);
  width: 100%
  
    
}


.home-carousel .carousel-captions h1 {
	margin-top: 0;
	margin-bottom: 0; 
	color: #fff;
	font-size: 65px;

}

.home-carousel .carousel-captions p {
	color: #fff;
	font-size: 20px;
	margin-top: 30px;
}
.download .btn-primary {
    background-color: #fff; 
    margin-left:auto;
    margin-top: 40px; 
    width: 200px;
    height: 50px;
    border-radius: 50px;
   border-color: #fff;
    font-size: 16px;
    color: #4e9ad6; 

}
 .download .btn-primary:hover {
    background-color: #4e9ad6;
    color:  #fff;
    border-color: #4e9ad6;
 }
.header-content h2{
		font-family: Myriad Pro;
	font-size: 32px;
	margin-top: 100px;
	width: 100%;
}
.header-content h2 .header-content-color{
	color: #4e9ad6;
}
.header-content p{
	font-size: 13px;
	color: #848994;
}


.copyright {
  padding: 15px 0;
  font-size: 10px;
  text-align: center;
  color: white;
   
}
