.container
  .four-coulmn.text-center
        .col-sm-3
          .thumbnail
            img(alt='', src='http://placehold.it/50x50')
            .caption
              h3 Thumbnail 
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        .col-sm-3
          .thumbnail
            img(alt='...', src='http://placehold.it/50x50')
            .caption
              h3 Thumbnail 
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        .col-sm-3
          .thumbnail
            img(alt='...', src='http://placehold.it/50x50')
            .caption
              h3 Thumbnail 
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        .col-sm-3
          .thumbnail
            img(alt='...', src='http://placehold.it/50x50')
            .caption
              h3 Thumbnail 
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  .header-content.text-center.text-uppercase
        h2.text-uppercase
          | our 
          span.header-content-color Works
        p featured projects
      .portfolio_area
        .portfolio_filter
          ul
            li.filter(data-filter='all')  All
            li.filter(data-filter='.category-1') APPS
            li.filter(data-filter='.category-2') UI/UX
            li.filter(data-filter='.category-3') branding
        .portfolio_item
          .mix.category-3
            img(src='images/devices.png')
          .mix.category-2
            img(src='images/devices.png')
          .mix.category-1
            img(src='images/devices.png')
          .mix.category-2
            img(src='images/devices.png')
          .mix.category-3
            img(src='images/devices.png')
          .mix.category-2
            img(src='images/devices.png')
          .mix.category-1
            img(src='images/devices.png')
          .mix.category-1
            img(src='images/devices.png')
          .mix.category-3
            img(src='images/devices.png')
    .load-more.text-center
      a(href='#')
        strong LOAD MORE
  .header-content.text-center.text-uppercase
        h2.text-uppercase
          | About 
          span.header-content-color Us
        p our inside company
      
    .col-md-6
      #accordion.panel-group(aria-multiselectable='true', role='tablist')
        .panel.panel-default
          #headingOne.panel-heading(role='tab')
            h4.panel-title
              a(aria-controls='collapseOne', aria-expanded='true', data-parent='#accordion', data-toggle='collapse', href='#collapseOne', role='button') OUR VISION
          #collapseOne.panel-collapse.collapse.in(aria-labelledby='headingOne', role='tabpanel')
            .panel-body
              | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        .panel.panel-default
          #headingTwo.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(aria-controls='collapseTwo', aria-expanded='false', data-parent='#accordion', data-toggle='collapse', href='#collapseTwo', role='button') OUR MISSSION
          #collapseTwo.panel-collapse.collapse(aria-labelledby='headingTwo', role='tabpanel')
            .panel-body
              | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        .panel.panel-default
          #headingThree.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(aria-controls='collapseThree', aria-expanded='false', data-parent='#accordion', data-toggle='collapse', href='#collapseThree', role='button') OUR IDEAS
          #collapseThree.panel-collapse.collapse(aria-labelledby='headingThree', role='tabpanel')
            .panel-body
              | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
  .col-md-6.progress-height
    p.pull-right 40%
    p.progress-title Marketing
    .progress
      .progress-bar(aria-valuemax='100', aria-valuemin='0', aria-valuenow='60', role='progressbar', style='width: 40%;')
        span.sr-only 40% Complete
    p.pull-right 20%
    p.progress-title Photoshop
    .progress
      .progress-bar(aria-valuemax='100', aria-valuemin='0', aria-valuenow='20', role='progressbar', style='width: 20%;')
        span.sr-only 20% Complete
    p.pull-right 90%
    p.progress-title Wordpress
    .progress
      .progress-bar(aria-valuemax='100', aria-valuemin='0', aria-valuenow='90', role='progressbar', style='width: 90%;')
        span.sr-only 90% Complete
    p.pull-right 60%
    p.progress-title Photography
    .progress
      .progress-bar(aria-valuemax='100', aria-valuemin='0', aria-valuenow='60', role='progressbar', style='width: 60%;')
        span.sr-only 60% Complete
    p.pull-right 100%
    p.progress-title Sales
    .progress
      .progress-bar(aria-valuemax='100', aria-valuemin='0', aria-valuenow='100', role='progressbar', style='width: 100%;')
        span.sr-only 100% Complete
  
.container
  .four-coulmn
      .col-sm-3
        .thumbnail.final
          img(alt='', src='http://placehold.it/250x150')
          .caption
            h3 
              strong THIS IS STANDARD POST WITH IMAGE. 
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      .col-sm-3
        .thumbnail.final
          img(alt='...', src='http://placehold.it/250x150')
          .caption
            h3
              strong  THIS IS STANDARD POST WITH IMAGE. 
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      .col-sm-3
        .thumbnail.final
          img(alt='...', src='http://placehold.it/250x150')
          .caption
            h3
              strong THIS IS STANDARD POST WITH IMAGE. 
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      .col-sm-3
        .thumbnail.final
          img(alt='...', src='http://placehold.it/250x150')
          .caption
            h3 
              strong THIS IS STANDARD POST WITH IMAGE. 
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  .text-center
      h2.text-uppercase  our lovely clients 
      .col-sm-6
        p
          | This PSD template is just awesome! I’ve never seen such a great design and attention to details. I will buy this template 999 times. Coz I think the author of this template deserve it!
        img.clients(src='http://placehold.it/150x150')
        p  mayank jain 
      .col-sm-6
        p
          | This PSD template is just awesome! I’ve never seen such a great design and attention to details. I will buy this template 999 times. Coz I think the author of this template deserve it!
        img.clients(src='http://placehold.it/150x150')
        p  mayank jain 