.container
      .our-team
        .owl-carousel
          div
            h3.text-uppercase.shop
              | women
              br
              |           collection
            .sale
              strong 70% off
          div
            h3.text-uppercase.shop
              | lingerie
              br
              |           collection
            .sale
              strong 30% off
          div
            h3.text-uppercase.shop
              | men
              br
              |           collection
            .sale
              strong Sale
    .container
      h4.text-uppercase.quick-shop.text-center New Arrivals
      .col-sm-4.col-lg-4.col-md-4
        .thumbnail
          img(alt='', src='http://placehold.it/320x150')
          .caption
            h4.pull-right $24.99
            h4
              a(href='#') First Product
            p Women
          .ratings
            p.pull-right 15 reviews
            p
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
      .col-sm-4.col-lg-4.col-md-4
        .thumbnail
          img(alt='', src='http://placehold.it/320x150')
          .caption
            h4.pull-right $64.99
            h4
              a(href='#') Second Product
            p Women
          .ratings
            p.pull-right 12 reviews
            p
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
      .col-sm-4.col-lg-4.col-md-4
        .thumbnail
          img(alt='', src='http://placehold.it/320x150')
          .caption
            h4.pull-right $74.99
            h4
              a(href='#') Third Product
            p Women
          .ratings
            p.pull-right 31 reviews
            p
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
    .container
      h4.text-uppercase.quick-shop.text-center featured
      .col-sm-4.col-lg-4.col-md-4
        .thumbnail
          img(alt='', src='http://placehold.it/320x150')
          .caption
            h4.pull-right $24.99
            h4
              a(href='#') First Product
            p Women
          .ratings
            p.pull-right 15 reviews
            p
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
      .col-sm-4.col-lg-4.col-md-4
        .thumbnail
          img(alt='', src='http://placehold.it/320x150')
          .caption
            h4.pull-right $64.99
            h4
              a(href='#') Second Product
            p Women
          .ratings
            p.pull-right 12 reviews
            p
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
      .col-sm-4.col-lg-4.col-md-4
        .thumbnail
          img(alt='', src='http://placehold.it/320x150')
          .caption
            h4.pull-right $74.99
            h4
              a(href='#') Third Product
            p Women
          .ratings
            p.pull-right 31 reviews
            p
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
    .container
      .header-content.text-center.text-uppercase.footer-content
        h2.text-uppercase
          | our 
          span.header-content-color TEAM
        p CREATIVE MINDS
      .row.text-center.footer-grid
        .col-md-4
          img.img-circle(src='http://placehold.it/150x150')
          h3 Preprocessors
          small CEO month
          p
            | Bootstrap ships with vanilla CSS, but its source code utilizes the two most popular CSS preprocessors, 
            a(href='../css/#less') Less
            |  and 
            a(href='../css/#sass') Sass
            | . Quickly get started with precompiled CSS or build on the source.
        .col-md-4
          img.img-circle(src='http://placehold.it/150x150')
          h3 One framework, every device.
          small CEO month
          p
            | Bootstrap easily and efficiently scales your websites and applications with a single code base, from phones to tablets to desktops with CSS media queries.
        .col-md-4
          img.img-circle(src='http://placehold.it/150x150')
          h3 Full of features
          small CEO month
          p
            | With Bootstrap, you get extensive and beautiful documentation for common HTML elements, dozens of custom HTML and CSS components, and awesome jQuery plugins.
