doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title IncomeUp
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    link(href='css/font-awesome.min.css', rel='stylesheet')
    link(href='css//owl.carousel.min.css', rel='stylesheet')
        
      
  body
    include headertext
    include slider
    include footer

  script(src='js/jquery-1.12.4.min.js')
    script(src='js/jquery.mixitup.js')
    script(src='http://code.jquery.com/jquery-2.1.0.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='js/owl.carousel.min.js')
    script(src='https://npmcdn.com/isotope-layout@3.0/dist/isotope.pkgd.js')
    script(src='js/script.js')  
