doctype html
html
  head
    title Income
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='css/owl.carousel.min.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(href='css/style.css', rel='stylesheet')
  body
    nav.navbar.navbar-default
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(aria-expanded='false', data-target='.navbar-collapse', data-toggle='collapse', type='button')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')
            img#main_logo(alt='IncomeUp', src='http://preview.ab-themes.com/incomeup/wp-content/uploads/2015/07/logo.png')
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse.center-block
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(aria-expanded='false', aria-haspopup='true', data-toggle='dropdown', href='#', role='button')
                | Home 
                span.caret
              ul.dropdown-menu
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider(role='separator')
                li
                  a(href='#') Separated link
            li.dropdown
              a.dropdown-toggle(aria-expanded='false', aria-haspopup='true', data-toggle='dropdown', href='#', role='button')
                | Pages 
                span.caret
              ul.dropdown-menu
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider(role='separator')
                li
                  a(href='#') Separated link
            li.dropdown
              a.dropdown-toggle(aria-expanded='false', aria-haspopup='true', data-toggle='dropdown', href='#', role='button')
                | Service 
                span.caret
              ul.dropdown-menu
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider(role='separator')
                li
                  a(href='#') Separated link
            li.dropdown
              a.dropdown-toggle(aria-expanded='false', aria-haspopup='true', data-toggle='dropdown', href='#', role='button')
                | Portfolio 
                span.caret
              ul.dropdown-menu
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider(role='separator')
                li
                  a(href='#') Separated link
            li.dropdown
              a.dropdown-toggle(aria-expanded='false', aria-haspopup='true', data-toggle='dropdown', href='#', role='button')
                | Blog 
                span.caret
              ul.dropdown-menu
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider(role='separator')
                li
                  a(href='#') Separated link
            li.dropdown
              a.dropdown-toggle(aria-expanded='false', aria-haspopup='true', data-toggle='dropdown', href='#', role='button')
                | Shop 
                span.caret
              ul.dropdown-menu
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider(role='separator')
                li
                  a(href='#') Separated link
            li.dropdown
              a.dropdown-toggle(aria-expanded='false', aria-haspopup='true', data-toggle='dropdown', href='#', role='button')
                | Features 
                span.caret
              ul.dropdown-menu
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider(role='separator')
                li
                  a(href='#') Separated link
            li.dropdown
              a.dropdown-toggle(aria-expanded='false', aria-haspopup='true', data-toggle='dropdown', href='#', role='button')
                | Contact Us 
                span.caret
              ul.dropdown-menu
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider(role='separator')
                li
                  a(href='#') Separated link
            li(style='list-style: none')
              span.glyphicon.glyphicon-search.icon-search
        // /.navbar-collapse
      // /.container-fluid
    .container
      #carousel-example.carousel.slide.home-carousel
        // Indicators
        ol.carousel-indicators
          li.active(data-slide-to='0', data-target='#carousel-example')
          li(data-slide-to='1', data-target='#carousel-example')
          li(data-slide-to='2', data-target='#carousel-example')
        // Wrapper for slides
        .carousel-inner(role='listbox')
          .item.active
            img.full-width(src='http://placehold.it/1250x450')
            .carousel-captions
              .full-width.text-center
                h1.text-uppercase the easiest way to start
                p.text-uppercase is to release the power of our template
                .download
                  button.btn.btn-primary.text-center.text-uppercases(type='button') Learn More.
          .item
            img.full-width(src='http://placehold.it/1250x450')
            .carousel-captions
              .full-width.text-center
                h1.text-uppercase the easiest way to start
                p.text-uppercase is to release the power of our template
                .download
                  button.btn.btn-primary.text-center.text-uppercases(type='button') Learn More.
          .item
            img.full-width(src='http://placehold.it/1250x450')
            .carousel-captions
              .full-width.text-center
                h1.text-uppercase the easiest way to start
                p.text-uppercase is to release the power of our template
                .download
                  button.btn.btn-primary.text-center.text-uppercases(type='button') Learn More.
    .container
      .header-content.text-center
        h2.text-uppercase
          | Welcome We are 
          span.header-content-color Fantastic team
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur sequi iste laudantium dolor nihil doloribus minima aliquam
          br
          |       voluptates sapiente voluptas reiciendis, nam facilis officiis reprehenderit eum, magnam sed et Lorem ipsum dolor sit amet, consectetur
          br
          |       adipisicing elit. Provident dicta rem delectus fuga, sequi accusamus quidem officiis vitae eum.
          br
    .container.center-block
      .our-team
        .owl-carousel.text-center
          div
            span.item.glyphicon.glyphicon-search(aria-hidden='true')
            h3.text-uppercase creative and fresh
            p
              | Bootstrap ships with vanilla CSS, but its source code utilizes the two most popular CSS preprocessors, 
              a(href='../css/#less') Less
              |  and 
              a(href='../css/#sass') Sass
              | . Quickly get started with precompiled CSS or build on the source.
          div
            span.item.glyphicon.glyphicon-search(aria-hidden='true')
            h3.text-uppercase creative and fresh
            p
              | Bootstrap ships with vanilla CSS, but its source code utilizes the two most popular CSS preprocessors, 
              a(href='../css/#less') Less
              |  and 
              a(href='../css/#sass') Sass
              | . Quickly get started with precompiled CSS or build on the source.
          div
            span.glyphicon.glyphicon-search(aria-hidden='true')
            h3.text-uppercase creative and fresh
            p
              | Bootstrap ships with vanilla CSS, but its source code utilizes the two most popular CSS preprocessors, 
              a(href='../css/#less') Less
              |  and 
              a(href='../css/#sass') Sass
              | . Quickly get started with precompiled CSS or build on the source.
          div
            span.glyphicon.glyphicon-search(aria-hidden='true')
            h3.text-uppercase creative and fresh
            p
              | Bootstrap ships with vanilla CSS, but its source code utilizes the two most popular CSS preprocessors, 
              a(href='../css/#less') Less
              |  and 
              a(href='../css/#sass') Sass
              | . Quickly get started with precompiled CSS or build on the source.
          div
            span.glyphicon.glyphicon-search(aria-hidden='true')
            h3.text-uppercase creative and fresh
            p
              | Bootstrap ships with vanilla CSS, but its source code utilizes the two most popular CSS preprocessors, 
              a(href='../css/#less') Less
              |  and 
              a(href='../css/#sass') Sass
              | . Quickly get started with precompiled CSS or build on the source.
          div
            span.glyphicon.glyphicon-search(aria-hidden='true')
            h3.text-uppercase creative and fresh
            p
              | Bootstrap ships with vanilla CSS, but its source code utilizes the two most popular CSS preprocessors, 
              a(href='../css/#less') Less
              |  and 
              a(href='../css/#sass') Sass
              | . Quickly get started with precompiled CSS or build on the source.
          div
            span.glyphicon.glyphicon-search(aria-hidden='true')
            h3.text-uppercase easy to customize
            p
              | Bootstrap easily and efficiently scales your websites and applications with a single code base, from phones to tablets to desktops with CSS media queries.
          div
            span.glyphicon.glyphicon-search(aria-hidden='true')
            h3.text-uppercase tone os features
            p
              | With Bootstrap, you get extensive and beautiful documentation for common HTML elements, dozens of custom HTML and CSS components, and awesome jQuery plugins.
    .section.text-center.text-uppercase
      h5 awesome parallax section
      p
        | YOU CAN PUT ANY IMPORTANT CONTENT HERE. INCOMEUP IS THE BEST QUALITY PRODUCT ON THEMEFOREST
      .text-center
        button.btn.btn-primary.btn-pill.text-uppercase(type='button') BUY IT NOW.
        button.btn.btn-default.btn-pill.text-uppercase(type='button') Learn More.
    .container
      .header-content.text-center.text-uppercase
        h2.text-uppercase
          | About 
          span.header-content-color Us
        p our inside company
      .row
        .conatiner
          .col-md-6
            #accordion.panel-group(aria-multiselectable='true', role='tablist')
              .panel.panel-default
                #headingOne.panel-heading(role='tab')
                  h4.panel-title
                    a(aria-controls='collapseOne', aria-expanded='true', data-parent='#accordion', data-toggle='collapse', href='#collapseOne', role='button') OUR VISION
                #collapseOne.panel-collapse.collapse.in(aria-labelledby='headingOne', role='tabpanel')
                  .panel-body
                    | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              .panel.panel-default
                #headingTwo.panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(aria-controls='collapseTwo', aria-expanded='false', data-parent='#accordion', data-toggle='collapse', href='#collapseTwo', role='button') OUR MISSSION
                #collapseTwo.panel-collapse.collapse(aria-labelledby='headingTwo', role='tabpanel')
                  .panel-body
                    | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              .panel.panel-default
                #headingThree.panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(aria-controls='collapseThree', aria-expanded='false', data-parent='#accordion', data-toggle='collapse', href='#collapseThree', role='button') OUR IDEAS
                #collapseThree.panel-collapse.collapse(aria-labelledby='headingThree', role='tabpanel')
                  .panel-body
                    | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        .col-md-6.progress-height
          p.pull-right 40%
          p.progress-title Marketing
          .progress
            .progress-bar(aria-valuemax='100', aria-valuemin='0', aria-valuenow='60', role='progressbar', style='width: 40%;')
              span.sr-only 40% Complete
          p.pull-right 20%
          p.progress-title Photoshop
          .progress
            .progress-bar(aria-valuemax='100', aria-valuemin='0', aria-valuenow='20', role='progressbar', style='width: 20%;')
              span.sr-only 20% Complete
          p.pull-right 90%
          p.progress-title Wordpress
          .progress
            .progress-bar(aria-valuemax='100', aria-valuemin='0', aria-valuenow='90', role='progressbar', style='width: 90%;')
              span.sr-only 90% Complete
          p.pull-right 60%
          p.progress-title Photography
          .progress
            .progress-bar(aria-valuemax='100', aria-valuemin='0', aria-valuenow='60', role='progressbar', style='width: 60%;')
              span.sr-only 60% Complete
          p.pull-right 100%
          p.progress-title Sales
          .progress
            .progress-bar(aria-valuemax='100', aria-valuemin='0', aria-valuenow='100', role='progressbar', style='width: 100%;')
              span.sr-only 100% Complete
    .container
      .header-content.text-center.text-uppercase
        h2.text-uppercase
          | our 
          span.header-content-color Works
        p featured projects
      .portfolio_area
        .portfolio_filter
          ul
            li.filter(data-filter='all')  All
            li.filter(data-filter='.category-1') APPS
            li.filter(data-filter='.category-2') UI/UX
            li.filter(data-filter='.category-3') branding
        .portfolio_item
          .mix.category-3
            img(src='images/devices.png')
          .mix.category-2
            img(src='images/devices.png')
          .mix.category-1
            img(src='images/devices.png')
          .mix.category-2
            img(src='images/devices.png')
          .mix.category-3
            img(src='images/devices.png')
          .mix.category-2
            img(src='images/devices.png')
          .mix.category-1
            img(src='images/devices.png')
          .mix.category-1
            img(src='images/devices.png')
          .mix.category-3
            img(src='images/devices.png')
    .load-more.text-center
      a(href='#')
        strong LOAD MORE
    .container
      .header-content.text-center.text-uppercase.footer-content
        h2.text-uppercase
          | our 
          span.header-content-color Clients
      .row.text-center.center-block
        .col-md-offset-2.col-md-8
          #quote-carousel.carousel.slide(data-ride='carousel')
            // Bottom Carousel Indicators
            ol.carousel-indicators
              li.active(data-target='#quote-carousel', data-slide-to='0')
              li(data-target='#quote-carousel', data-slide-to='1')
              li(data-target='#quote-carousel', data-slide-to='2')
            // Carousel Slides / Quotes
            .carousel-inner
              // Quote 1
              .item.active
                .row
                  .col-sm-12
                    p
                      | Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!
                    small
                      strong  Mayank 
                      |  CEO of the Month 
                      span.footer-content-color-small famous
              // Quote 2
              .item
                .row
                  .col-sm-12
                    p
                      | Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!.
                    small
                      strong  Mayank 
                      |  CEO of the Month 
                      span.footer-content-color-small famous
              // Quote 3
              .item
                .row
                  .col-sm-12
                    p
                      | Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!.
                    small
                      strong  Mayank 
                      |  CEO of the Month 
                      span.footer-content-color-small famous
      .container
        .header-content.text-center.text-uppercase.footer-content
          h2.text-uppercase
            | our 
            span.header-content-color TEAM
          p CREATIVE MINDS 
        .row.text-center.footer-grid
          .col-md-4
            img.img-circle(src='http://placehold.it/150x150 ')
            h3 Preprocessors
            small CEO month
            p
              | Bootstrap ships with vanilla CSS, but its source code utilizes the two most popular CSS preprocessors, 
              a(href='../css/#less') Less
              |  and 
              a(href='../css/#sass') Sass
              | . Quickly get started with precompiled CSS or build on the source.
          .col-md-4
            img.img-circle(src='http://placehold.it/150x150')
            h3 One framework, every device.
            small CEO month
            p
              | Bootstrap easily and efficiently scales your websites and applications with a single code base, from phones to tablets to desktops with CSS media queries.
          .col-md-4
            img.img-circle(src='http://placehold.it/150x150')
            h3 Full of features
            small CEO month
            p
              | With Bootstrap, you get extensive and beautiful documentation for common HTML elements, dozens of custom HTML and CSS components, and awesome jQuery plugins.
    .footer-container
      .container
        .row
          .col-sm-3.footer-text
            .abc.text-center.text-uppercase
              | About Us
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, necessitatibus. Hic saepe labore quibusdam soluta quaerat excepturi modi. Deserunt animi ex suscipit quos ipsa alias optio veritatis perferendis adipisci doloribus.
            br
            br
            .read-more
              a(href='#')
                | Read more 
                span.glyphicon.glyphicon-menu-right(aria-hidden='true')
            .footer-icons
              a(href='#')
                i.fa.fa-google-plus-official(aria-hidden='true')
              a(href='#')
                i.fa.fa-facebook-official(aria-hidden='true')
              a(href='#')
                i.fa.fa-twitter-square(aria-hidden='true')
              a(href='#')
                i.fa.fa-linkedin-square(aria-hidden='true')
          .col-sm-3.footer-text
            .abc.text-center.text-uppercase
              | Latest Posts
          .col-sm-3.text-center.text-uppercase tags
          .col-sm-3.text-center.text-uppercase Get in touch
      script(src='js/jquery-1.12.4.min.js')
      script(src='js/jquery.mixitup.js')
      script.
        $('.portfolio_item').mixItUp();
      script(src='http://code.jquery.com/jquery-2.1.0.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
      script(src='js/owl.carousel.min.js')
      script(src='https://npmcdn.com/isotope-layout@3.0/dist/isotope.pkgd.js')
      script(src='js/script.js')
