.row
  .container
    footer.footer.row.each-row
      ul.col-sm-12.col-md-4.col-lg-3
        li
          h3 Heading
        li
          a(href='#') Link
        li
          a(href='#') Link
        li
          a(href='#') Link
        li
          a(href='#') Link
      ul.col-sm-12.col-md-4.col-lg-3
        li
          h3 Heading
        li
          a(href='#') Link
        li
          a(href='#') Link
        li
          a(href='#') Link
        li
          a(href='#') Link
      ul.col-sm-12.col-md-4.col-lg-3
        li
          h3 Heading
        li
          a(href='#') Link
        li
          a(href='#') Link
        li
          a(href='#') Link
        li
          a(href='#') Link
      ul.col-sm-12.col-lg-3
        li
          h3 Heading
        li
          a(href='#') Link
        li
          a(href='#') Link
        li
          a(href='#') Link
        li
          a(href='# ') Link
    aside.copyright
      p
        | Maecenas vitae mi ut justo aliquam volutpat. Fusce malesuada rhoncus mi, nec ultricies mi aliquet nec. © 
        a(href='#', target='_blank') IncomeUp.com
