.container
      #carousel-example.carousel.slide.home-carousel
        // Indicators
        ol.carousel-indicators
          li.active(data-slide-to='0', data-target='#carousel-example')
          li(data-slide-to='1', data-target='#carousel-example')
          li(data-slide-to='2', data-target='#carousel-example')
        // Wrapper for slides
        .carousel-inner(role='listbox')
          .item.active
            img.full-width(src='http://placehold.it/1250x450')
            .carousel-captions
              .full-width.text-center
                h1.text-uppercase the easiest way to start
                p.text-uppercase is to release the power of our template
                .download
                  button.btn.btn-primary.text-center.text-uppercases(type='button') Learn More.
          .item
            img.full-width(src='http://placehold.it/1250x450')
            .carousel-captions
              .full-width.text-center
                h1.text-uppercase the easiest way to start
                p.text-uppercase is to release the power of our template
                .download
                  button.btn.btn-primary.text-center.text-uppercases(type='button') Learn More.
          .item
            img.full-width(src='http://placehold.it/1250x450')
            .carousel-captions
              .full-width.text-center
                h1.text-uppercase the easiest way to start
                p.text-uppercase is to release the power of our template
                .download
                  button.btn.btn-primary.text-center.text-uppercases(type='button') Learn More.
